.dropzone {
  padding: 1rem 1rem;
  min-height: 200px;
  margin-bottom: 2rem;
}

.drop-column {
  padding: 4px;
  width: 250px;
  min-height: 500px
} 

.division-list-item{
    user-select: none;
    padding: 10px;
    margin: 0 0 10px 0;
    min-height: 50px;
    color: #ffffff
}

.editable{
  line-height: 30px;
}

.btn.btn-delete {
  font-size: 1.3em;
  border-radius: 5%;
  padding: 0;
  width: 25px;
  line-height: 20px;
  height: 25px;
  text-align: center;
  border: 1px solid #ffffff;
}
.btn.btn-edit.btn-primary {
  position: relative;
  top: -3px;
  background-color: transparent;
  padding: 0;
  border: 0;
  margin-left: 0.5rem;
  flex-basis: auto;
  font-size: 1.4em
}
.btn.btn-edit.btn-primary:focus{
    box-shadow: none;
}
.editable{display: flex; 
    flex-flow: row nowrap;
    position: relative;

}
textarea.likeText {
  background-color: rgba(255, 255, 255, 0.2);
  width: auto;
  margin-right: 0px;
  flex-basis: auto;
  flex-shrink: 1;
  height: 30px;
  border: none;
  color: #ffffff;
}

