.credential {
  display: flex;
  padding: 0.7rem 0.7rem 0.2rem 0.8rem;
  height: 100%;
}
.credential.new {
  background-color: #ebebeb;
}
.credential label {
  margin-bottom: 0;
}
.credential p {
  margin-bottom: 0;
}
.password-showhide {
  border: 1px solid #999999;
  display: inline-block;
  padding: 0.35rem;
  color: #999999;
  min-width: 200px;
  min-height: 38px;
}
.password-control {
  margin-right: 50px;
  width: calc(100% - 50px);
}
.btn-toggle-passwordshow {
  float: right;
  width: 45px;
}

